<nav class="navbar navbar-inverse" >
 <div class="container">
   <div class="navbar-header" >
   <%= link_to "Greenkeeper", root_path, class: "navbar-brand" %>
   </div>
   <ul class="nav navbar-nav" >
     <li><%= link_to "Home", root_path %></li>
     <li>
       <%= link_to 'New deposit', new_deposit_path %>
     </li>
   </ul>
   <ul class="nav navbar-nav navbar-right">
     <% if current_user %>
       <li>
         <%= link_to edit_user_password_path do %>
           <span class="fa fa-user"></span>
           Profile
       <% end %>
      </li>
     <% end %>
     <% unless current_user %>
       <li>
         <%= link_to new_user_registration_path do %>
           <span class="fa fa-plus"></span>
           Register
         <% end %>
       </li>
       <li>
         <%= link_to new_user_session_path do %>
           <span class="fa fa-user"></span>
           Login
         <% end %>
       </li>
     <% end %>
   </ul>
 </div>
</nav>
