<div><%= render 'deposits/total'%></div>
<h1 class="page-header"><%= welcome_user %></h1>

<div class="row">
  <div class="col-sm-6">
    <%= render 'deposits/map' %>
  </div>
  <div class="col-sm-6">
    <%= render 'deposits/latest' %>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3>Deposits by category</h3>
    <%= pie_chart deposits_by_category_chart_path, refresh: 5000 %>
  </div>

  <div class="col-sm-6">
    <h3>Deposits by day</h3>
    <%= line_chart deposits_by_day_chart_path, refresh: 1000 %>
  </div>
</div>

<%- model_class = Deposit -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.pluralize.titleize %></h1>
</div>

<div class="row">
	<div class="col-md-6">
		<%= render 'deposits/table', deposits: @user_deposits, model_class: model_class, title: 'Your deposits' %>
	</div>
	<div class="col-md-6">
		<%= render 'deposits/table', deposits: @deposits, model_class: model_class, title: 'Deposits' %>
	</div>
</div>

<%= link_to t('.new', default: t('helpers.links.new')),
            new_deposit_path,
            class: 'btn btn-primary' %>
