<h1 class="page-header"><%= welcome_user %></h1>

<div class="row">
  <div class="col-sm-6">
    <div id="map"></div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Latest deposits</div>
      <div class="panel-body">

        <table class="table table-striped">
          <caption>Everyone</caption>
          <thead>
            <tr>
              <th>Quantity</th>
              <th>Category</th>
            </tr>
          </thead>
          <tbody id="latest-deposits"></tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3>Deposits by category</h3>
    <%= pie_chart deposits_by_category_chart_path, refresh: 5000 %>
  </div>

  <div class="col-sm-6">
    <h3>Deposits by day</h3>
    <%= line_chart deposits_by_day_chart_path, refresh: 1000 %>
  </div>
</div>

<%- model_class = Deposit -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<div class="row">
	<div class="col-md-6">
		<%= render "home/deposit_table", deposits: @user_deposits, model_class: model_class, title: "Your deposits" %>
	</div>
	<div class="col-md-6">
		<%= render "home/deposit_table", deposits: @deposits, model_class: model_class, title: "Deposits" %>
	</div>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_deposit_path,
            :class => 'btn btn-primary' %>

<script type="text/javascript">
  function buildMapFromLatLongs(latLongs) {
    var centerPos = {lat: 59.329485, lng: 18.043327};

    var options = {
      'zoom': 12,
      'center': centerPos,
      'mapTypeId': google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById('map'), options);

    var markers = [];
    for (var i = 0; i < latLongs.length; i++) {
      var latLng = new google.maps.LatLng(latLongs[i][0], latLongs[i][1]);
      var marker = new google.maps.Marker({position: latLng});
      markers.push(marker);
    }
    var markerCluster = new MarkerClusterer(map, markers);
  }

  function initMap() {
    $.getJSON('/deposits/lat_longs', function(latLongs) {
      buildMapFromLatLongs(latLongs);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?signed_in=false&callback=initMap"></script>

<script type="text/javascript">
  setInterval(function() {
    $.getJSON('/deposits/latest', function(deposits) {

      var html = '';
      for (var i = 0; i < deposits.length; i++) {
        var dep = deposits[i];
        html += '<tr>' + '<td>' + dep.quantity + ' ' + dep.unit + '</td>' + '<td>' + dep.category + '</td>' + '</tr>';
      }
      $('#latest-deposits').html(html);
    });
  }, 500);
</script>
